body
{
color: whitesmoke;
background-color: white;
background-image: url(https://cdn.futura-sciences.com/buildsv6/images/wide1920/0/d/c/0dc9a089e6_50160212_adobestock-298585211.jpg); 
font: 1.6rem 'Monserrat', sans-serif;   
font-size: 100%; margin: 20px;
text-align: center; line-height: 150%; background-color: #000000;
}


h1
{
color: whitesmoke; text-align: center; font-size: 300%; border:1px solid rgba(253, 5, 5, 0.932); line-height: 100%;
padding:1px;
}

h2
{
font-style: oblique; font-size: 200%; line-height: 200%; text-transform: capitalize; text-shadow: 5px 5px 2px rgb(28, 31, 204);
}

h3
{
font-style: italic; font-size: 200%;text-shadow: 5px 5px 2px rgb(235, 13, 13); margin-top: 5px;
}

h4
{
font-style: italic; font-size: 200%;text-shadow: 5px 5px 2px rgb(28, 31, 204); margin-top: 4%; border-bottom:3px dashed rgb(235, 13, 13);
}
h5
{
font-style: italic; font-size: 200%;text-shadow: 5px 5px 2px rgb(235, 13, 13); border-bottom:3px dashed rgb(28, 31, 204);
}
h6
{
font-style: italic; font-size: 200%; text-shadow: 5px 5px 2px rgb(28, 31, 204); border-bottom:3px dashed rgb(235, 13, 13);
}

.cent
{
text-align: center;font-style: italic; line-height:170%; float: left; font-size: 100%; background-color: #0a010a; margin-top: 1%;
}
img
{
width: 350px; height: 350px;
}
div
{
    color: whitesmoke
}